@import "../variables.module";

.input-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  label {
    margin-right: auto;
    margin-bottom: 5px;
    width: 100%;
  }

  input,
  .multi-select-container {
    width: 100%;
  }

  ul,
  li {
    width: 100%;
  }
}

.multi-select-container {
  position: relative;
}

.multi-select {
  position: relative;
  padding: 3px 0;
  padding-left: 11px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  z-index: 1;
  min-height: 40px;
}

.multi-select:hover {
  background: whitesmoke;
}

.multi-select-item {
  background: $selection;
  border-radius: 4px;
  margin: 3px 6px 3px 0px;
  padding: 3px 6px;
  display: flex;
  color: white;

  p {
    margin-right: 6px;
    font-size: 0.95rem;
  }

  i {
    font-size: small;
    padding: 4px 3px 2px 3px;
  }

  &:hover {
    filter: brightness(90%);
  }
}

.multi-select-container .select {
  position: absolute;
  top: 37px;
  display: none;
  z-index: 2;
  border-radius: 0 0 4px 4px;
  max-height: 400px;
  overflow: auto;
  border: 0;
  outline: 0;
  font-size: 1rem;
  transition: 0.2s;
  background: white;
  list-style: none;
  color: #222;
  text-align: left;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
  border-top: none;
}

.multi-select-container .select.active {
  display: block;
}

.multi-select-container .select li {
  display: block;
  padding: 6px 11px;
  transition: 0.2s;
  cursor: pointer;
}

.multi-select-container .select li:hover {
  color: $selection;
  background: #f3f6fa;
}
