/* This file describes keyframes animation */

@-webkit-keyframes fadeIn {
  0% { opacity: 0;  }
  100% { opacity: 1;  }
}

@keyframes fadeIn {
  0% { opacity: 0;  }
  100% { opacity: 1;  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: 100px;
  }
  75% {
    opacity: 0.5;
    left: 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    left: 100px;
  }
  75% {
    opacity: 0.5;
    left: 0px;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    opacity: 0;
    height: 0;
  }
  75% {
    opacity: 0.5;
    height: 100%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    height: 0;
  }
  75% {
    opacity: 0.5;
    height: 100%;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187px;
  }
  50% {
    stroke-dashoffset: 47px;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187px;
    transform: rotate(450deg);
  }
}

@-webkit-keyframes growFromTop {
  0% { opacity: 0; transform: translateY(-40%) }
  100% { opacity: 1; transform: translateY(0) }
}

@keyframes growFromTop {
  0% { opacity: 0; transform: translateY(-40%) }
  100% { opacity: 1; transform: translateY(0) }
}