/* #region Colors */

$primary: #2e94d8;
$secondary: #974de2;
$success: #91c714;
$danger: #d32929;
$orange: #ff891a;
$warning: #ffba1a;
$default: #c0c0c0;

$selection: #7c9aef;

:root {
  --well-rounded-primary: #2e94d8;
  --well-rounded-secondary: #974de2;
  --well-rounded-success: #91c714;
  --well-rounded-danger: #d32929;
  --well-rounded-warning: #ffba1a;
  --well-rounded-default: #c0c0c0;
}

$main-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  danger: $danger,
  warning: $warning
);

/* Exporting variables to be used in jsx files */

:export {
  @each $key, $value in $main-colors {
    #{unquote($key)}: $value;
  }
}

/* #endregion Colors */

/* #region Layout */

$spacing: 8px; // margins and paddings spacing amount
$spacingLevel1: $spacing;
$spacingLevel2: $spacing * 2;
$spacingLevel3: $spacing * 3;

/* #endregion Layout */
